@{
    ViewData["Title"] = "Home Page";
}
@model ProjectListViewModel
<!--Samantha Prettyman, section 1, group 7, this is creating a database that the program draws from and displays the info found within (books)-->
<!--for my styling elements I used jumbotron for the background color, flex for the footer, and a button that makes the info collapse-->
<header>
    <h1 class="accordion">Books</h1>
</header>
<!--Populates the page with the book info from the db-->
@foreach (var x in Model.Projects)
{ <!--sends to parital view to populate-->
    <partial name="ProjectSummary" model="x" />
}
<!--inputs the formatting and the pagination-->
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" 
     page-class="btn" 
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1"
     ToolTip="Click me to go to this page">
</div>